.menu {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 50px;
    left: 0;
    transform: translateX(-130%);
    transition: all 0.2s;
}

.menu.active {
    transform: translateX(0);
}

.blur {
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(2px);
    position: absolute;
}

.menu__content {
    width: 30%;
    height: 100%;
    background-color: #a46464;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.4s;
}

.menu__header {
    padding: 10px;
    font-size: 2rem;
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 100%;
    text-align: center;
}

ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.3rem;
}

ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.material-icons {
    color: #fff;
    margin-left: 10px;
}

@media screen and (max-width: 768px) {
    .menu__content {
        width: 100%;
    }
    .blur {
        backdrop-filter: none;
    }
}
