nav {
    height: 50px;
    width: 100%;
    background-color: #ee6e73;
    position: fixed;
    z-index: 50;
    display: flex;
    align-items: center;
}
main {
    padding: 50px;
}

p {
    margin: 20px;
}

.burger-btn {
    width: 20px;
    height: 22px;
    margin-left: 20px;
    position: relative;
    cursor: pointer;
}

.burger-btn:before {
    content: '';
    position: absolute;
    top: 0;
    width: 20px;
    background-color: #fff;
    height: 2px;
}

.burger-btn span {
    position: absolute;
    top: 10px;
    width: 20px;
    background-color: #fff;
    height: 2px;
}

.burger-btn:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 20px;
    background-color: #fff;
    height: 2px;
}
